/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-order {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/redesign_2015/ajax-loader-1.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-order {
    display: block;
}

.error-message{color:red}
.success-message{color:green}
.form-error{background-color:#F9B9B9}
h2.content-subheading {font-size:18px;font-weight:normal;padding-bottom:15px}

.actuality h2 {
	width:80%;
	float:left;
}
.actuality .date {
	width:15%;
	float:right;
	margin:32px 0 20px 0;
}

.actuality .date span {
	float: right;
}

.module-products .product-list .product-labels .product-label.free-shipping{
	background-color:#fa04dd
}

.module-products .product-list .product-labels .product-label.free-shipping:before{
	background:url(../img/product-label-free-shipping.png) no-repeat top left
}

.module-product-detail .product-labels .product-label.free-shipping{
	background-color:#fa04dd
}

.module-product-detail .product-labels .product-label.free-shipping:before{
	background:url(../img/product-label-lg-free-shipping.png) no-repeat top left
}

.benefits .benefit {
	text-align: center;
}

#map {
	margin: 0 auto;
    width: 800px;
    height: 500px;
}

#mapSmall {
    width: 400px;
    height: 250px;
}

.three-columns {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}